.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  border: solid 1px gray;
  padding: 1.5%;
  padding-top: 0.5%;
}
.heading {
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  text-decoration: underline;
  font-family: "Cinzel", serif;
}
#fname,
#lname,
#password,
#cpassword,
#gmail {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 2%;
  border: solid 1.9px gray;
  border-radius: 3px;
  width: 96.8%;
  padding: 3.5px;
}
#fname,
#lname {
  width: 45%;
}
#lname {
  margin-left: 5%;
}
.registersubmit {
  text-align: center;
  margin-top: 2%;
}
#registersubmit {
  font-size: 18px;
  font-family: "Bellefair", serif;
}
.groupkey {
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 2%;
}
.group {
  margin-top: 5%;
}

.url {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.urlbox {
  border: solid 1px gray;
  padding: 9px;
}
.inputa {
  text-align: center;
  margin-top: 3%;
}
.urltable {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}
.key {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 16px;
  font-weight: 900;
  color: black;
}
table,
thead,
tbody,
tr,
td {
  border-collapse: collapse;
  border: solid 1px gray;
}
.keyans {
  text-align: center;
}
.keyans,
.keyansl {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 1%;
}

.logout {
  margin-top: 2%;
  text-align: center;
}
.out {
  font-size: 15px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  padding: 3px;
}
